@import "../../../vars.css";

.calendarContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.calendarHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    padding: 0 1rem;
    border-bottom: 1px solid #ccc;
}

.calendarHeaderButtons {
    display: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.previousButton {}

.nextButton {}



.calendarMonth {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
}

.calendarGrid {
    display: grid;
    grid-template-columns: 80px repeat(7, 1fr);
    overflow-y: scroll;
    height: 100%;
}

.headerGap {
    height: 20px;
}


.timeColumn {
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeZoneContainer {
    position: sticky;
    top: 0;
    background-color: #e9e9e9;
    border-bottom: 1px solid #ccc;
    z-index: 2;
    text-align: center;
    height: var(--header-height);
    text-align-last:center;
}

.timeZone{
    cursor: pointer;
    appearance: none;
    width: 100%;
    height: 100%;
}

.timeLabel {
    height: var(--row-height);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 12px;
    border-bottom: 2px solid #eee;

}

.dayColumn {
    position: relative;
}

.todayColumn {
    background-color: rgba(57, 45, 191, 0.1);
    border-left: 2px solid rgba(162, 45, 191, 0.1);
    border-right: 2px solid rgba(162, 45, 191, 0.1);
}


.dayHeader {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    z-index: 2;
    text-align: center;
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dayLabel {
    font-weight: bold;
    font-size: 14px;
}

.dayDate {
    font-size: 12px;
    color: #777;
}

.timeCellsContainer {
    position: relative;
}

.timeCell {
    height: var(--row-height);
    border-bottom: 3px solid #eee;
    border-right: 3px solid #eee;
    transition: background-color 0.2s;
}

.timeCell:hover {
    background-color: #e6f2ff;
}

.event-block {
    position: absolute;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    padding: 4px;
    width: 100%;
    top: 0;
}